<!DOCTYPE html>
<html ng-app="chatApp">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/chat.css">
</head>
<body ng-controller="ChatController">
<div class="container">
    <div class="input-group">
        <label for="myId">My ID</label>
        <input type="text" id="myId" ng-model="myId" ng-disabled="connected" placeholder="Enter your Client ID">
    </div>
    <div class="input-group">
        <label for="friendId">Friend ID</label>
        <input type="text" id="friendId" ng-model="friendId" ng-disabled="connected"
               placeholder="Enter client ID to start the chat">
    </div>
    <button class="button" ng-click="connect()" ng-if="!connected">Connect</button>
    <button class="button" ng-click="reset()" ng-if="connected">Reset</button>
    <div class="chat-window" ng-if="connected">
        <button class="button" ng-click="loadMoreMessages()">Load More Messages</button>
        <div class="chat-message" ng-repeat="message in messages">
            <strong>{{message.name}}:</strong> {{message.message}}
            <div class="timestamp">{{message.timestamp | date:'medium'}}</div>
        </div>
    </div>
    <div class="chat-input" ng-if="connected">
        <input type="text" ng-model="newMessage" placeholder="Enter message to send"
               ng-keydown="checkEnter($event,newMessage)">
        <button ng-click="sendMessage(newMessage)">Send</button>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="https://cdn.socket.io/4.8.0/socket.io.min.js"></script>
<script src="/javascripts/chat.js"></script>
</body>
</html>
